@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Regular.ttf');
}

body {
    font-family: 'Chivo' !important;
}

$primary: #10d48e;
$secondary: #132a3a;
$info: #ffffff;
$danger:  #132a3a;

@import "bootstrap";